* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333333;
}

/* tune bootstrap css */
.navbar .nav .active > a:hover {
    cursor: default;
}
.navbar .nav .dropdown > a:hover {
    cursor: pointer;
}
.navbar-inverse .nav:not(.pull-right) > li:first-child {
    margin-left: 100px;
}
.navbar-inverse .nav.pull-right > li:last-child {
    margin-right: 100px;
}
.navbar-inverse .nav > li > a:not(.img-link){
    background-color: transparent;
    font-size: 25px;
    margin-top: 5px;
    font-weight: bold;
}
input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
    color: #555555;
    border-color: #679EDD;
}
input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
    border-color: #679EDD;
    -webkit-box-shadow: 0 0 6px #679EDD;
    -moz-box-shadow: 0 0 6px #679EDD;
    box-shadow: 0 0 6px #679EDD;
}

/* normal css */
#system-message {
    background-color: #D33;
    font-size: 38.5px;
    line-height: 40px;
    font-weight: bold;
    color: white;
    opacity: 0.8;
    width: 100%;
    position: fixed;
    text-align: center;
    margin-top: 0;
    top: 0;
    padding: 10px 0;
    display: none;
    z-index: 10000;
}
.error-help {
    display: none;
    color: #B94A48;
}
#main-section {
    width: 100%;
    min-width: 500px;
    margin: 0 auto;
}

/* helper class */
.fwb {
    font-weight: bold;
}

/* self-defined css */
.jumbotron {
    padding: 48px 0;
}
.signup-form {
    max-width: 280px;
    padding: 15px;
    margin: 0 auto;
}
.signup-form .signup-form-heading,
.signup-form .checkbox {
    margin-bottom: 10px;
}
.signup-form .checkbox {
    font-weight: normal;
}
.signup-form .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.signup-form .form-control:focus {
    z-index: 2;
}
.signup-form input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.signup-form input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#login-btn {
    padding: 5px;
    width: 100%;
    border-radius: 10px;
}
footer {
    clear: both;
}
.breadcrumb {
    margin-left: 20px;
    margin-top: -10px;
    font-size: 25px;
}
.breadcrumb a {
    color: #555555;
}
.backyard-table {
    width: 300px;
    margin: 5px 10px;
}
.backyard-table thead th {
    background-color: #555555;
    color: #FFFFFF;
    padding-left: 15px;
}
.backyard-table tbody td {
    background-color: #EEEEEE;
    color: #333333;
    padding-left: 15px;
    font-weight: bold;
}
.backyard-table a {
    color: #333333;
}
.nav-list a {
    color: #333333;
    font-size: 21px;
    cursor: pointer;
    line-height: 1.2em;
}
.remove-column-btn {
    margin-right: 5px;
    visibility: hidden;
}
div:hover > .remove-column-btn {
    visibility: visible;
}